@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Nunito&family=Playfair+Display:wght@700&family=Raleway:wght@500&family=Roboto:wght@500&display=swap');

:root {
	--gray1: #333333;
	--gray3: #25282b;
	--gray2: #828282;
	--text-N: Nunito;
	--text-PfD: Playfair Display;
	--text-RBT: Roboto;
}

body {
	margin: 0 auto;
	bottom: 0;
	width: 1440px;
	background-color: #f0f0f0;
}

li,
a {
	list-style: none;
	text-decoration: none;
	color: black;
}

.container {
	max-width: 1230px;
	margin: 0 auto;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 56px;
}

nav .logo {
	display: flex;
	font-family: Comfortaa;
	font-size: 18px;
	font-weight: 700;
	line-height: 32px;
}

.header--nav {
	display: flex;
	flex-direction: row;
	gap: 48px;
}

.header--nav li a {
	font-family: Raleway;
}

.intro {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.intro--content {
	width: 486px;
	margin-top: 111px;
}

.content--title {
	line-height: 76.8px;
	font-size: 64px;
	color: var(--gray1);
	margin-top: 12px;
}

.content--subhaedline {
	font-size: 24px;
	color: var(--gray2);
	margin: 32px 0;
}

.primary {
	font-size: 18px;
	width: 115px;
	height: 43px;
	padding: 8px 24px;
	border-radius: 8px;
	color: var(--gray3);
	border: 0;
	background-color: #fdc435;
}

.main--image img {
	background-color: #fdc435;
	border-radius: 50%;
}

footer {
	margin-top: 148px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.projects-texts {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 181px;
	font-size: 48px;
	font-weight: 700;
	line-height: 72px;
	font-family: var(--text-PfD);
	margin: 0;
}

.projects-texts::after {
	content: '';
	width: 100px;
	height: 4px;
	background-color: #fdc435;
	border-radius: 2px;
}

.footer-frame {
	display: flex;
	flex-direction: column;
	align-items: end;
	width: 400px;
	height: 445px;
	margin: 80px;
	gap: 24px;
}

label {
	font-family: var(--text-N);
	width: 400px;
}

.footer-frame textarea,
.footer-frame input {
	border: 1px solid #e8ecf4;
	border-radius: 8px;
	width: 100%;
	padding: 0;
	margin-top: 8px;
}
input {
	height: 40px;
}

textarea {
	height: 160px;
	resize: none;
}

.footer-frame button {
	padding: 8px 24px;
	border-radius: 8px;
	border: 0;
	background-color: #fdc435;
	font-family: var(--text-RBT);
	font-size: 18px;
	font-weight: 500;
}

.footer-icons {
	display: flex;
	justify-content: center;
	height: 48px;
	margin: 59px 0;
}
.footer-icons img {
	margin: 0 26px 30px 0;
}

.footer-icons h3 {
	text-align: center;
	font-family: var(--text-N);
	weight: 400px;
	color: #828282;
	font-size: 16px;
	font-weight: 400;
}
